<div class="row">
  <div class="container">
    <div class="col-md-12">
      <h3>Create Your Ad</h3>
      <hr>
      <h4>Tell us about the position:</h4>
      <form>
        <div class="form-group">
          <label for="job-title">Job Title</label>
          <input type="text" class="form-control" id="job-title" placeholder="Job Title">
          <p class="help-block">Enter your job title</p>
        </div>
        <!-- <div class="form-group">
          <label for="job-title">Job Title</label>
          <input type="email" class="form-control" id="job-title" placeholder="Email">
        </div> -->
        <div class="form-group">
          <label for="category-select">Category</label>
          <select class="form-control" id="category-select">
            <option>Design</option>
            <option>Programming</option>
            <option>DevOps</option>
            <option>Sales &amp; Marketing</option>
            <option>Copywriting</option>
          </select>
        </div>
        <div class="form-group">
          <div class="radio">
            <label>
              <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="Full Time"> Full Time
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="Contract"> Contract
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="headquarters">Headquarters</label>
          <input type="text" class="form-control" id="headquarters" placeholder="">
          <p class="help-block">Example: "Atlanta, GA", "Sacramento, CA"</p>
        </div>
        <div class="form-group">
          <label for="region">Region</label>
          <input type="text" class="form-control" id="region" placeholder="">
          <p class="help-block">Example: North America, Europe, Asia"</p>
        </div>
        <div class="form-group">
          <label for="apply-url">Apply Link</label>
          <input type="text" class="form-control" id="apply-url" placeholder="">
          <p class="help-block">Example: https://mycompany.com/careers/apply or info@mycompany.com</p>
        </div>
        <div class="form-group">
          <label for="description">Job Description</label>
          <textarea class="form-control" rows="9" id="description"></textarea>
        </div>
        <hr>
        <h4>Tell us about your company:</h4>
        <div class="form-group">
            <label for="job-title">Company Name</label>
            <input type="text" class="form-control" id="job-title" placeholder="Job Title">
          </div>
          <div class="form-group">
            <label for="headquarters">Company Statement</label>
            <input type="text" class="form-control" id="headquarters" placeholder="Example: Atlanta, GA">
          </div>
        <div class="form-group">
          <label for="exampleInputFile">Logo</label>
          <input type="file" id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="form-group">
            <label for="company-url">URL</label>
            <input type="text" class="form-control" id="company-url" placeholder="Job Title">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Example: Atlanta, GA">
          </div>
          <div class="form-group">
            <label for="company-desc">Company Description</label>
            <textarea class="form-control" rows="9" id="company-desc"></textarea>
          </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <hr>
    </div>
  </div>
</div>
