<div class="container">
  <div class="row">
    <div class="job-desc">
      <div class="col-md-1">
        <img src="#" height="90" width="90">
      </div>
      <div class="col-md-11">
        <h3>Front End Developer</h3>
        <h4><a href="#">Company Name</a> - Location</h4> 
        
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success btn-lg">Apply</button>
    </div>
  </div> -->
  <hr>
  <div class="row">
    <div class="job-detail">
      <div class="col-md-12">
        <article>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum, nisi in semper egestas, eros elit molestie risus, ac bibendum diam sapien eu purus. Cras ipsum odio, vulputate eu auctor a, dictum nec nunc. Vivamus posuere tempor congue. Integer a sagittis augue, non pretium lacus. Nulla tincidunt metus vel quam vehicula eleifend. Nulla nunc felis, accumsan sit amet lectus quis, dignissim pellentesque justo. Ut condimentum feugiat purus, non bibendum enim ultrices sit amet. Etiam accumsan enim et tincidunt malesuada. Etiam luctus a velit in tincidunt. Aliquam eu finibus dolor. Phasellus vehicula elementum neque, vitae fringilla lacus tempus eu.</p>
          <h5>Qualifications</h5>
          <p>In sit amet dolor lacus. Donec id enim dapibus, pharetra sem et, tincidunt est. Fusce in neque vitae nulla imperdiet scelerisque quis hendrerit lectus. Praesent accumsan nisl vel lectus convallis, quis sollicitudin tortor vulputate. Curabitur mauris enim, vulputate sit amet nisi ut, accumsan consectetur mi. Cras at malesuada felis. Nunc lacinia purus in risus cursus scelerisque.</p>
          <p>Nullam condimentum leo in nisl elementum, eget finibus diam volutpat. Aenean in erat felis. Mauris varius ornare felis et semper. Etiam quis imperdiet orci. Ut finibus, dolor vel pretium imperdiet, est risus efficitur ex, eu placerat odio sem sit amet purus. Sed vestibulum sapien sed nisl consectetur, vel congue ligula placerat. In risus eros, ornare eu lacinia varius, feugiat eget neque. Proin at metus at nibh venenatis lobortis ut et purus.</p>
          <h5>Desired Skills</h5>
          <ul>
            <li>Bachelor's Degree in CS</li>
            <li>Min. 3 years experience</li>
            <li>HTML5, CSS, JavaScript</li>
            <li>Adobe Creative Suite</li>
          </ul>
          <h5>Desired Skills</h5>
          <ul>
            <li>Bachelor's Degree in CS</li>
            <li>Min. 3 years experience</li>
            <li>HTML5, CSS, JavaScript</li>
            <li>Adobe Creative Suite</li>
          </ul>
          <button class="btn btn-success btn-lg">Apply Now</button> <button class="btn btn-default btn-lg">Save For Later</button>
        </article>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="#">
      <div class="#"></div>
    </div>
  </div>
</div>
