.jumbotron {
    height: 50vh;
    background: url(/./assets/pexels-photo-841286.jpeg)center center no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.jumbotron h1, .jumbotron p{
    text-align: center;
}

.jumbotron .jumbo-search {
    width: 50%;
    height: 50px;
}