<div class="container"> 
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <h3>Latest Jobs</h3>
        <table class="table">
          <tbody>
            <tr>
              <!-- Image Here -->
              <td class="table-img"><img src="#" class="thumb-img" width="50" height="50"></td> 
              <td><h4><a>{{title}}</a></h4></td>
              <td><h5>{{company}}</h5></td>
              <td>${{salary}}</td>
              <td>1d</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
