<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <h3>Featured Jobs</h3>
      <table class="table">
        <tbody>
          <tr>
            <!-- Image Here -->
            <td class="table-img"><img src="#" class="thumb-img" width="50" height="50"></td> 
            <td><h4><a>Job.Title</a></h4></td>
            <td><h5>Job.Company</h5></td>
            <td>$80k-$87k</td>
            <td>1d</td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
