<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <h3>Featured Jobs</h3>
        <table class="table">
          <tbody>
            <tr *ngFor="let job of jobs">
              <td class="table-img"><img src="#" class="thumb-img" width="50" height="50"></td>
              <td><h4>{{job.name}}</h4></td>
              <td><h5>{{job.company}}</h5></td>
              <td></td>
              <td>1d</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
