<div class="table-responsive">
  <h3>Featured Jobs</h3>
  <table class="table">
    <tbody>
      <tr>
        <td class="table-img"><img src="#" class="thumb-img" width="50" height="50"></td>
        <td><h4>Front-End Developer</h4></td>
        <td><h5>Howard-Myers</h5></td>
        <td>$80k-$87k</td>
        <td>1d</td>
      </tr>
      <tr>
        <td class="table-img"><img src="#" class="thumb-img" width="50" height="50"></td>
        <td><h4>UI/UX Developer</h4></td>
        <td><h5>Turner Broadcasting</h5></td>
        <td>$90k-$100k</td>
        <td>3d</td>
      </tr>
      <tr>
        <td class="table-img"><img src="#" class="thumb-img" width="50" height="50"></td>
        <td><h4>Project Managers</h4></td>
        <td><h5>EZBRZY</h5></td>
        <td>DOE</td>
        <td>5d</td>
      </tr>
    </tbody>
  </table>
</div>
